.songTitleCreate {
    height: 90px;
    width: 45%;
    font-size: 50px;
    text-align: center;
    background-color: #f1ebe6;
    border: none;
    outline: none;
    font-family: 'Playfair Display', serif;
    color: #5d5d5d;
    margin-top: 60px;
    margin-bottom: 8px;
}

.songLyricsCreate {
    resize: none;
    font-family: 'Roboto', sans-serif;
    color: #5d5d5d;
}

.saveButton {
    margin: 10px;
    background: none !important;
}


.lyricsWithRhymes {
    display: flex;
    justify-content: space-around;
}

.rhymingContainer {
    text-align: left;
    overflow: scroll;
    height: 355px !important;
    min-width: 100px !important;
}