.songTitle {
    height: 90px;
    width: 80%;
    font-size: 50px;
    text-align: center;
    background-color: #f1ebe6;
    border: none;
    outline: none;
    font-family: 'Playfair Display', serif;
    color: #5d5d5d;
}

.songLyrics {
    resize: none;
}

.saveButton {
    padding-left: 10px;
    padding-right: 10px;
    background: none !important;
}

.saveAndConnect {
    display: flex;
    justify-content: center;
}