.loginForm {
    width: 200px;
    margin: 15px;
}
.auth {
    margin: 15px 0 75px 0;
}

.signIn {
    display: flex;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0 15px 40px;
    text-align: center;
}

.signIn__button {
    margin: 0 0 10px 0;
}

.input {
    opacity: 0.6;
}

h4 {
    margin: 15px;

}

.or {
    margin: 12px 0 0 0;
}

h6 {
    margin: 10px;
}

.registerbtn {
    margin: 0 0 0 40px;
}

.login__heading {
    display: flex;
    align-items: center;
    margin: 15px 0 15px 25px;
}

.login__description--1 {
    max-width: 320px;
}

.login__description--2 {
    max-width: 270px;
}


.logo {
    min-width: 60px;
    min-height: 60px;
    margin: 0 12px 0 0;
}