.wordNameCreate {
    height: 100px;
    width: 45%;
    font-size: 50px;
    text-align: center;
    background-color: #f1ebe6;
    border: none;
    outline: none;
    font-family: 'Playfair Display', serif;
    color: #5d5d5d;
    margin-top: 60px;
    margin-bottom: 8px;
}

.definitionContainerCreate {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.definitionCreate {
    resize: none;
    font-family: 'Roboto', sans-serif;
    color: #5d5d5d;
}

.synonymsCreate {
    resize: none;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    color: #5d5d5d;
    background: none;
}

.saveButton {
    margin: 10px;
    background: none !important;
}

.searchButton {
    margin: 10px;
    background: none !important;
}
