.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 1vmin);
  color: rgba(255, 255, 255, .8);
  padding: 0 20px;;
}

.nav__menu {
  bottom: 0;
}

.nav-items {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-item {
  padding: 0 10px;
  cursor: pointer;
}

.nav-item a {
  color: inherit;
  text-decoration: none;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 1);
}

.App-link {
  color: #09d3ac;
}
