.referenceName {
    color: #5d5d5d;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    margin: 50px;
    margin-top: 100px;
}

.referenceUrl {
    color: #5d5d5d;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
