.referenceNameEdit {
    height: 100px;
    width: 80%;
    font-size: 50px;
    text-align: center;
    background-color: #f1ebe6;
    border: none;
    outline: none;
    font-family: 'Playfair Display', serif;
    color: #5d5d5d;
    margin-top: 60px;
    margin-bottom: 8px;
}

.referenceUrlEdit {
    height: 100px;
    width: 80%;
    font-size: 20px;
    text-align: center;
    background-color: #f1ebe6;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: #5d5d5d;
}

.saveButton {
    margin: 10px;
    background: none !important;
}
