.navBar {
    display: flex;
    justify-content: flex-start;
}

.showButton {
    background: none !important;
}

.helloLogout {
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 300px;
}

.catalogueListButton {
    background: none !important;
}

.wordListButton {
    background: none !important;
}

.titleListButton {
    background: none !important;
}

.referenceListButton {
    background: none !important;
}

.masterContainer {
    display: flex;
}
.leftContainer {
    justify-content: left;
    flex-basis: 30%;
}
.rightContainer {
    justify-content: right;
    flex-basis: 70%;
}
/* 
.makeMainBig {
    height: 300px;
} */